@import "theme";

@mixin text {
  position: absolute;
  text-align: left;
  color: white;
  font-size: normal medium 20px/30px Poppins;
  letter-spacing: 1.4px;
  word-break: break-word;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@mixin data {
  margin-top: 24px;
  text-align: left;
  width: 100%;
  font: normal 16px Poppins;
  letter-spacing: 0.8px;
  color: #ffffff;
  opacity: 0.64;
}

@mixin travel {
  background: ($green);
  color: ($black);
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  word-break: break-all;
  width: 30%;
  letter-spacing: 0.7px;
  font: normal 800 14px/21px Poppins;
}
