footer {
  text-align: center;
  height: 97px;
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.footerMax {
  width: 100%;
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footerText {
  max-width: 50%;
  color: white;
  opacity: 0.48;
  letter-spacing: 0.8px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logoFtr {
  display: flex;
  max-width: 50%;
  opacity: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100px;
}
