.icons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  display: flex;
  max-width: 1440px;
  flex-direction: row;
  width: 100%;

  opacity: 0.64;
  @media only screen and (min-width: 600px) {
    position: relative;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: 1700px) {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    right: 56%;
    position: fixed;
    max-width: 1440px;
  }
}

.fb {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  opacity: 0.64;
  &:hover {
    transform: scale(1.2);
  }
}

.ig {
  margin-bottom: 20px;
  width: 100%;
  opacity: 0.64;
  height: 30px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.twt {
  opacity: 0.64;
  margin-bottom: 30px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.shr {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  opacity: 0.64;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}
