.menu-btn {
  position: relative;
  cursor: pointer;
  width: 37px;
  height: 32px;
  opacity: 1;

  &__burger {
    position: absolute;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: white;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: white;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 28px;
      height: 3px;
      background: white;
    }
  }
  &__close {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 8px;
    right: 10%;
    width: 37px;
    height: 37px;
    opacity: 1;
    border: none;
    background: #333;
    color: white;
    font-size: large;
    border-radius: 50%;
    @media only screen and (min-width: 600px) {
      cursor: pointer;
      background: #333;
      border-radius: 50%;
      border: none;
      width: 37px;
      height: 37px;
      position: absolute;
      justify-content: center;
      left: 8%;
      right: 0;
    }
    @media only screen and (min-width: 1240px) {
      cursor: pointer;
      background: #333;
      border-radius: 50%;
      border: none;
      width: 37px;
      height: 37px;
      position: absolute;
      justify-content: center;
      left: 9%;
      right: 0;
      top: 10px;
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  z-index: 1;

  &.open {
    visibility: visible;
  }

  .menu-nav {
    content: "text";
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    position: fixed;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0;
    font-size: 8px;
    padding: 5px;
    background: RGBA(0, 0, 0, 1);
    font-size: normal medium 20px/30px Poppins;
    @media only screen and (min-width: 600px) {
      width: 20%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      letter-spacing: 1.4px;
      font-size: 8px;
    }

    &__logo {
      width: 50px;
      @media only screen and (min-width: 600px) {
        padding-bottom: 50px;
      }
      @media only screen and (min-width: 1240px) {
        padding-bottom: 100px;
      }
    }

    &.open {
      visibility: visible;
      background-size: cover;
      opacity: 1;
    }

    &__link {
      display: inline-block;
      font-size: 1rem;
      padding: 2rem 0;
      text-decoration: none;
      color: white;
      opacity: 1;
    }
  }
}
