.menu-btn {
  position: relative;
  cursor: pointer;
  width: 37px;
  height: 32px;
  opacity: 1;
}
.menu-btn__burger {
  position: absolute;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: white;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: white;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: white;
}
.menu-btn__close {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 8px;
  right: 10%;
  width: 37px;
  height: 37px;
  opacity: 1;
  border: none;
  background: #333;
  color: white;
  font-size: large;
  border-radius: 50%;
}
@media only screen and (min-width: 600px) {
  .menu-btn__close {
    cursor: pointer;
    background: #333;
    border-radius: 50%;
    border: none;
    width: 37px;
    height: 37px;
    position: absolute;
    justify-content: center;
    left: 8%;
    right: 0;
  }
}
@media only screen and (min-width: 1240px) {
  .menu-btn__close {
    cursor: pointer;
    background: #333;
    border-radius: 50%;
    border: none;
    width: 37px;
    height: 37px;
    position: absolute;
    justify-content: center;
    left: 9%;
    right: 0;
    top: 10px;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  z-index: 1;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  content: "text";
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
  position: fixed;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0;
  font-size: 8px;
  padding: 5px;
  background: RGBA(0, 0, 0, 1);
  font-size: normal medium 20px/30px Poppins;
}
@media only screen and (min-width: 600px) {
  .nav .menu-nav {
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1.4px;
    font-size: 8px;
  }
}
.nav .menu-nav__logo {
  width: 50px;
}
@media only screen and (min-width: 600px) {
  .nav .menu-nav__logo {
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1240px) {
  .nav .menu-nav__logo {
    padding-bottom: 100px;
  }
}
.nav .menu-nav.open {
  visibility: visible;
  background-size: cover;
  opacity: 1;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 1rem;
  padding: 2rem 0;
  text-decoration: none;
  color: white;
  opacity: 1;
}

.icons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  display: flex;
  max-width: 1440px;
  flex-direction: row;
  width: 100%;
  opacity: 0.64;
}
@media only screen and (min-width: 600px) {
  .icons {
    position: relative;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1700px) {
  .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    right: 56%;
    position: fixed;
    max-width: 1440px;
  }
}

.fb {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  opacity: 0.64;
}
.fb:hover {
  transform: scale(1.2);
}

.ig {
  margin-bottom: 20px;
  width: 100%;
  opacity: 0.64;
  height: 30px;
  cursor: pointer;
}
.ig:hover {
  transform: scale(1.2);
}

.twt {
  opacity: 0.64;
  margin-bottom: 30px;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.twt:hover {
  transform: scale(1.2);
}

.shr {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  opacity: 0.64;
  cursor: pointer;
}
.shr:hover {
  transform: scale(1.2);
}

footer {
  text-align: center;
  height: 97px;
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.footerMax {
  width: 100%;
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footerText {
  max-width: 50%;
  color: white;
  opacity: 0.48;
  letter-spacing: 0.8px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logoFtr {
  display: flex;
  max-width: 50%;
  opacity: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #333;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.logoNav {
  width: 156px;
  height: 89px;
  opacity: 1;
}

.search {
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
}
.search:hover {
  transform: scale(1.2);
}

.container1 {
  position: relative;
  color: white;
  font-size: large;
  width: 100%;
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .container1 {
    width: 50%;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1240px) {
  .container1 {
    width: 65%;
  }
}
.container1__art1 {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 600px) {
  .container1__art1 {
    height: 100%;
  }
}
.container1__art1--txtArt1 {
  position: absolute;
  text-align: left;
  color: white;
  font-size: normal medium 20px/30px Poppins;
  letter-spacing: 1.4px;
  word-break: break-word;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 48px 24px 44px 35px;
}
.container1__art1--txtArt1---data1 {
  margin-top: 24px;
  text-align: left;
  width: 100%;
  font: normal 16px Poppins;
  letter-spacing: 0.8px;
  color: #ffffff;
  opacity: 0.64;
  padding-bottom: 20px;
}
.container1__art1--travelArt1 {
  background: #84fab0;
  color: #222222;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  word-break: break-all;
  width: 30%;
  letter-spacing: 0.7px;
  font: normal 800 14px/21px Poppins;
  top: 25px;
  left: 35px;
  width: 30%;
}
@media only screen and (min-width: 600px) {
  .container1__art1--travelArt1 {
    height: auto;
    width: 20%;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1240px) {
  .container1__art1--travelArt1 {
    width: 10%;
    margin-bottom: 350px;
  }
}

.userInput {
  position: absolute;
  bottom: 350px;
  left: 100px;
  color: black;
}

.containerSpace {
  position: relative;
  text-align: center;
  color: white;
  font-size: large;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .containerSpace {
    width: calc(50% - 24px);
    margin-left: 24px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1240px) {
  .containerSpace {
    width: calc(35% - 24px);
    margin-bottom: 0;
  }
}
.containerSpace__space {
  width: 100%;
  height: auto;
  background: transparent linear-gradient(155deg, #e5b2ca 0%, #7028e4 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
}
@media only screen and (min-width: 600px) {
  .containerSpace__space {
    height: 100%;
    margin-bottom: 0;
  }
}
.containerSpace__space--txtSpace {
  position: absolute;
  width: 100%;
  bottom: 150px;
  left: 0;
  color: white;
  font: normal normal 800 24px/35px Poppins;
  letter-spacing: 1.2px;
}
@media only screen and (min-width: 600px) {
  .containerSpace__space--txtSpace {
    width: 100%;
  }
}

.container2 {
  position: relative;
  text-align: center;
  color: white;
  font-size: large;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .container2 {
    width: 56%;
  }
}
@media only screen and (min-width: 1240px) {
  .container2 {
    width: 100%;
  }
}
.container2__art2 {
  width: 100%;
}
.container2__art2--txtArt2 {
  position: absolute;
  text-align: left;
  color: white;
  font-size: normal medium 20px/30px Poppins;
  letter-spacing: 1.4px;
  word-break: break-word;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 48px 24px 44px 35px;
}
.container2__art2--txtArt2---data2 {
  margin-top: 24px;
  text-align: left;
  width: 100%;
  font: normal 16px Poppins;
  letter-spacing: 0.8px;
  color: #ffffff;
  opacity: 0.64;
  padding-bottom: 20px;
}
.container2__art2--travelArt2 {
  background: #84fab0;
  color: #222222;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  word-break: break-all;
  width: 30%;
  letter-spacing: 0.7px;
  font: normal 800 14px/21px Poppins;
  width: 30%;
  top: 30px;
  left: 35px;
}
@media only screen and (min-width: 600px) {
  .container2__art2--travelArt2 {
    height: auto;
    width: 30%;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1240px) {
  .container2__art2--travelArt2 {
    width: 30%;
    margin-bottom: 350px;
  }
}

.container3 {
  position: relative;
  text-align: center;
  color: white;
  font-size: large;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .container3 {
    width: calc(100% - 47px);
    margin-left: 24px;
  }
}
@media only screen and (min-width: 1240px) {
  .container3 {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.container3__art3 {
  width: 100%;
}
.container3__art3--txtArt3 {
  position: absolute;
  text-align: left;
  color: white;
  font-size: normal medium 20px/30px Poppins;
  letter-spacing: 1.4px;
  word-break: break-word;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 48px 24px 44px 35px;
}
.container3__art3--txtArt3---data3 {
  margin-top: 24px;
  text-align: left;
  width: 100%;
  font: normal 16px Poppins;
  letter-spacing: 0.8px;
  color: #ffffff;
  opacity: 0.64;
  padding-bottom: 20px;
}
.container3__art3--travelArt3 {
  background: #84fab0;
  color: #222222;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  word-break: break-all;
  width: 30%;
  letter-spacing: 0.7px;
  font: normal 800 14px/21px Poppins;
  top: 20px;
  left: 35px;
  width: 20%;
  background: #7028e4;
  color: white;
}
@media only screen and (min-width: 600px) {
  .container3__art3--travelArt3 {
    height: auto;
    width: 20%;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1240px) {
  .container3__art3--travelArt3 {
    width: 30%;
    margin-bottom: 350px;
  }
}

.container4 {
  position: relative;
  color: white;
  font-size: large;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media only screen and (min-width: 1240px) {
  .container4 {
    width: calc(100% - 24px);
    height: auto;
    margin-left: 24px;
  }
}
.container4__art4 {
  width: 100%;
  height: auto;
}
.container4__art4--txtArt4 {
  position: absolute;
  text-align: left;
  color: white;
  font-size: normal medium 20px/30px Poppins;
  letter-spacing: 1.4px;
  word-break: break-word;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 48px 24px 24px 35px;
}
@media only screen and (min-width: 1240px) {
  .container4__art4--txtArt4 {
    padding: 48px 24px 44px 64px;
  }
}
.container4__art4--txtArt4---data4 {
  margin-top: 24px;
  text-align: left;
  width: 100%;
  font: normal 16px Poppins;
  letter-spacing: 0.8px;
  color: #ffffff;
  opacity: 0.64;
  padding-bottom: 20px;
}
.container4__art4--travelArt4 {
  background: #84fab0;
  color: #222222;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  word-break: break-all;
  width: 30%;
  letter-spacing: 0.7px;
  font: normal 800 14px/21px Poppins;
  top: 25px;
  left: 35px;
  width: 30%;
}
@media only screen and (min-width: 600px) {
  .container4__art4--travelArt4 {
    height: auto;
    width: 10%;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1240px) {
  .container4__art4--travelArt4 {
    width: 10%;
    margin-bottom: 350px;
    left: 64px;
  }
}

.pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.first-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .first-row {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
  }
}

.second-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 1240px) {
  .second-row {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .vertical {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (min-width: 1240px) {
  .vertical {
    width: 35%;
    height: auto;
    flex-direction: column;
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */