@import "menu";
@import "config";
@import "icons";
@import "footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #333;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.logoNav {
  width: 156px;
  height: 89px;
  opacity: 1;
}
.search {
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}
.container1 {
  position: relative;
  color: white;
  font-size: large;
  width: 100%;
  margin-bottom: 24px;

  @media only screen and (min-width: 600px) {
    width: 50%;
    margin-bottom: 0;
  }
  @media only screen and (min-width: 1240px) {
    width: 65%;
  }

  &__art1 {
    width: 100%;
    height: auto;
    object-fit: cover;

    @media only screen and (min-width: 600px) {
      height: 100%;
    }

    &--txtArt1 {
      @include text;
      padding: 48px 24px 44px 35px;

      &---data1 {
        @include data;
        padding-bottom: 20px;
      }
    }

    &--travelArt1 {
      @include travel;
      top: 25px;
      left: 35px;
      width: 30%;

      @media only screen and (min-width: 600px) {
        height: auto;
        width: 20%;
        margin-bottom: 80px;
      }
      @media only screen and (min-width: 1240px) {
        width: 10%;
        margin-bottom: 350px;
      }
    }
  }
}

.userInput {
  position: absolute;
  bottom: 350px;
  left: 100px;
  color: black;
}

.containerSpace {
  position: relative;
  text-align: center;
  color: white;
  font-size: large;
  object-fit: cover;
  width: 100%;
  margin-bottom: 24px;

  @media only screen and (min-width: 600px) {
    width: calc(50% - 24px);
    margin-left: 24px;
    margin-bottom: 0;
  }
  @media only screen and (min-width: 1240px) {
    width: calc(35% - 24px);
    margin-bottom: 0;
  }

  &__space {
    width: 100%;
    height: auto;

    background: transparent linear-gradient(155deg, ($pink) 0%, ($purple) 100%)
      0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 24px #00000029;
    opacity: 1;

    @media only screen and (min-width: 600px) {
      height: 100%;
      margin-bottom: 0;
    }

    &--txtSpace {
      position: absolute;
      width: 100%;
      bottom: 150px;
      left: 0;
      color: white;
      font: normal normal 800 24px/35px Poppins;
      letter-spacing: 1.2px;
      @media only screen and (min-width: 600px) {
        width: 100%;
      }
    }
  }
}

.container2 {
  position: relative;
  text-align: center;
  color: white;
  font-size: large;
  object-fit: cover;
  width: 100%;
  margin-bottom: 24px;

  @media only screen and (min-width: 600px) {
    width: 56%;
  }
  @media only screen and (min-width: 1240px) {
    width: 100%;
  }

  &__art2 {
    width: 100%;

    &--txtArt2 {
      @include text;
      padding: 48px 24px 44px 35px;
      &---data2 {
        @include data;
        padding-bottom: 20px;
      }
    }
    &--travelArt2 {
      @include travel;
      width: 30%;
      top: 30px;
      left: 35px;

      @media only screen and (min-width: 600px) {
        height: auto;
        width: 30%;
        margin-bottom: 80px;
      }
      @media only screen and (min-width: 1240px) {
        width: 30%;
        margin-bottom: 350px;
      }
    }
  }
}

.container3 {
  position: relative;
  text-align: center;
  color: white;
  font-size: large;
  object-fit: cover;
  width: 100%;
  margin-bottom: 24px;

  @media only screen and (min-width: 600px) {
    width: calc(100% - 47px);
    margin-left: 24px;
  }
  @media only screen and (min-width: 1240px) {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
  }

  &__art3 {
    width: 100%;
    // @media only screen and (min-width: 600px) {
    //   width: 100%;
    // }

    &--txtArt3 {
      @include text;
      padding: 48px 24px 44px 35px;
      &---data3 {
        @include data;
        padding-bottom: 20px;
      }
    }
    &--travelArt3 {
      @include travel;
      top: 20px;
      left: 35px;
      width: 20%;

      background: ($purple);
      color: white;
      @media only screen and (min-width: 600px) {
        height: auto;
        width: 20%;
        margin-bottom: 80px;
      }
      @media only screen and (min-width: 1240px) {
        width: 30%;
        margin-bottom: 350px;
      }
    }
  }
}

.container4 {
  position: relative;
  color: white;
  font-size: large;
  object-fit: cover;
  width: 100%;

  @media only screen and (min-width: 1240px) {
    width: calc(100% - 24px);
    height: auto;
    margin-left: 24px;
  }

  &__art4 {
    width: 100%;
    height: auto;

    &--txtArt4 {
      @include text;
      padding: 48px 24px 24px 35px;
      @media only screen and (min-width: 1240px) {
        padding: 48px 24px 44px 64px;
      }
      &---data4 {
        @include data;
        padding-bottom: 20px;
      }
    }
    &--travelArt4 {
      @include travel;
      top: 25px;
      left: 35px;
      width: 30%;

      @media only screen and (min-width: 600px) {
        height: auto;
        width: 10%;
        margin-bottom: 80px;
      }
      @media only screen and (min-width: 1240px) {
        width: 10%;
        margin-bottom: 350px;
        left: 64px;
      }
    }
  }
}

.pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.first-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media only screen and (min-width: 600px) {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
  }
}

.second-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media only screen and (min-width: 1240px) {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media only screen and (min-width: 600px) {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
  }
  @media only screen and (min-width: 1240px) {
    width: 35%;
    height: auto;
    flex-direction: column;
    display: flex;
  }
}
